<div class="register-wrapper">
<h2>Register</h2>
<form (ngSubmit)="register()">
  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    [(ngModel)]="email"
    name="email"
    autocomplete="email"
    required
  />

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    [(ngModel)]="password"
    name="password"
    autocomplete="new-password"
    required
  />

  <button type="submit">Register</button>
</form>

<p 
  [ngClass]="{ 'success-message': messageType === 'success', 'error-message': messageType === 'error' }"
  id="error-message" aria-live="polite">{{ message }}
</p>

<p class="login-link">
  Already have an account?
  <a routerLink="/login">Return to login page here.</a>
</p>
</div>
