
<div class="search-container">
  <div>
    <button class="league-logo" type="button" routerLink="/" id="home-button">
      <img src="LOL-logo.jpg" alt="Home" />
    </button>
  </div>

  <div id="form_container">
    <form (submit)="searchChampion()">
      <input type="text" id="search-input" [(ngModel)]="searchValue" name="searchInput" placeholder="Search..." /> 
      <button class="search-button" type="button" (click)="searchChampion()">Search</button> 
    </form>
    <button class="random-button" (click)="getRandomChampion()">
      <i class="fa-solid fa-arrows-rotate"></i> Random
    </button>
  </div>
  
  <div>
    <button *ngIf="authService.isLoggedIn(); else loginButton" (click)="logout()">Logout</button>
    <ng-template #loginButton>
      <button routerLink="/login">Login</button>
    </ng-template>
  </div>
  
  <div id="help_paragraph_dive">
    <button class="help-button" (mouseenter)="showHelp()" (mouseleave)="hideHelp()">Help</button>
    <p id="help_paragraph" *ngIf="showHelpParagraph">
      Utilize the search or use the random button to select a champion. Explore and become familiar with their statistics.
    </p>
  </div>


  <div *ngIf="showErrorModal" class="modal">
    <div class="modal-content">
      <p>{{ errorMessage }}</p>
      <button (click)="closeErrorModal()">Close</button>
    </div>
  </div>
</div>

