<!-- Error Modal -->
<div *ngIf="errorMessage" class="modal">
  <div class="modal-content">
    <p>{{ errorMessage }}</p>
    <button (click)="errorMessage = ''">Close</button>
  </div>
</div>

<div class="main_img_container" *ngIf="champion && champion.id">
  <img class="main_img" [src]="'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + champion.id + '_0.jpg'" alt="Champion Splash Image" />
</div>


<div class="champion-detail" *ngIf="champion">
  <p class="title">{{ champion.title }}</p>
  <h1 class="name" >{{ champion.name }} </h1>

  <!-- Background Image -->
   <div >
  <img class="background_img" [src]="'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + champion.id + '_0.jpg'" alt="Champion Splash Image" />
  </div>


  <!-- Description -->
  <div class="description">
    <p id="champ_description">{{ champion.blurb }}</p>
  </div>


  <!-- Stats Section -->
  <div class="canvas_container">
    <app-stats [champion]="champion"></app-stats> 
    <!-- Level Selector -->
    <div class="level-select-container">
      <label for="level-select">Choose Level:</label>
      <select id="level-select" [(ngModel)]="selectedLevel" (change)="changeStatByLevel(selectedLevel)">
        <option value="1" disabled selected>Select a level</option>
        <option *ngFor="let level of levels" [value]="level">Level {{ level }}</option>
      </select>
    </div>
    
    <table class="table">
      <tr>
        <th>Champion Stats</th>
      </tr>
      <tr>
        <td>Health : {{ modifiedStats.hp }}</td>
        <td>Mana : {{ modifiedStats.mp }}</td>
      </tr>
      <tr>
        <td>Health Regen : {{ modifiedStats.hpregen }}</td>
        <td>Mana Regen : {{ modifiedStats.mpregen }}</td>
      </tr>
      <tr>
        <td>Armor : {{ modifiedStats.armor }}</td>
        <td>Attack Damage : {{ modifiedStats.attackdamage }}</td>
      </tr>
      <tr>
        <td>Magic Resist : {{ modifiedStats.spellblock }}</td>
        <td>Crit : {{ modifiedStats.crit }}</td>
      </tr>
      <tr>
        <td>Move Speed : {{ modifiedStats.movespeed }}</td>
        <td>Attack Range : {{ modifiedStats.attackrange }}</td>
      </tr>
    </table>
  </div>


  <div class="ability_container">
    <div class="all_circle_container">
      <div class="circle-button-container">
        <img class="passive_icon" id="passive" 
             [src]="getAbilityIconUrl('passive')" 
             (click)="showAbility('passive')" 
             alt="Passive Icon" />
             <!-- <p>Passive</p> -->
      </div>
  
      <div class="circle-button-container">
        <img class="Q_icon" id="abilityQ" 
             [src]="getAbilityIconUrl('Q', 0)" 
             (click)="showAbility('Q', 0)" 
             alt="Q Icon" />
             <!-- <p>Q</p> -->
      </div>
  
      <div class="circle-button-container">
        <img class="W_icon" id="abilityW" 
             [src]="getAbilityIconUrl('W', 1)" 
             (click)="showAbility('W', 1)" 
             alt="W Icon" />
             <!-- <p>W</p> -->
      </div>
  
      <div class="circle-button-container">
        <img class="E_icon" id="abilityE" 
             [src]="getAbilityIconUrl('E', 2)" 
             (click)="showAbility('E', 2)" 
             alt="E Icon" />
             <!-- <p>E</p> -->
      </div>
  
      <div class="circle-button-container">
        <img class="R_icon" id="abilityR" 
             [src]="getAbilityIconUrl('R', 3)" 
             (click)="showAbility('R', 3)" 
             alt="R Icon" />
             <!-- <p>R</p> -->
      </div>
    </div>
  </div>
  

  <!-- Video and ability descriptions -->
   <div class="ability-video-container">
  <video #videoSource id="ability_video" controls autoplay loop> 
    <source #source id="source" type="video/webm" />
    Your browser does not support the video tag.
  </video>
</div>
<div class="ability-description-container">
  <p #abilityName class="ability_name"></p>
  <div #abilityDescription class="ability_description"></div>
</div>

<!-- Skins Section -->
<div class="skin-container-div" *ngIf="champion.skins && champion.skins.length > 0">
  <h2>Skins</h2>
  <div id="skin_container">
    <!-- Bind the skin image to the selectedSkin -->
    <img [src]="getSkinImageUrl(selectedSkin)" alt="Skin Image" id="champ_skin">
    <div id="button_skin_container">
      <!-- Pass index i to changeSkin() -->
       <div class="button-container-skin">
        <button *ngFor="let skin of champion.skins; let i = index" (click)="changeSkin(i)">
          {{ skin.name }}
        </button>
       </div>
    </div>
  </div>
</div>

</div>
