@import "primeng/resources/themes/saga-blue/theme.css";

$primary-color: #007bff;
$secondary-color: #6c757d;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: $secondary-color;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
}
