<div class="favorites-wrapper">
  <div *ngIf="favorites.length > 0; else noFavorites" class="favorites-grid">
    <p-card *ngFor="let favorite of favorites" header="{{ favorite.details.name }}" subheader="{{ favorite.details.title }}">
      <img [src]="getChampionImage(favorite.championId)" alt="{{ favorite.details.name }}">
      <button [routerLink]="['/champion', favorite.championId]">View Details</button>
      <button (click)="removeFavorite(favorite.championId)" class="remove-btn">Remove</button>
    </p-card>
  </div>

  <ng-template #noFavorites>
    <p class="no-favorites">You have no favorites yet.</p>
  </ng-template>
</div>
